<html>
	<head>
		<title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/contact_calendar.css') }}">
	</head>
	<body>
      <h1>{{ title }}</h1>
      <h2>{{ city }}{%if state %}, {{ state }}{% endif %}</h2>
      {% if error_msg %}
        <h2 class=error>{{ error_msg }}</h2>
      {% endif %}
	  <table border=1 align='center'>
		<tr>
            <th></th>
          {% for day in calendar %}
		    <th>{{ day.date }}</th>
		  {% endfor %}
		</tr>
		<tr>
          <th>Avg. Temp</th>
          {% for day in calendar %}
		    <td>{{ day.avg_temp }} &degF</td>
		  {% endfor %}
		</tr>
		<tr>
          <th>Weather</th>
          {% for day in calendar %}
		    <td>{{ day.weather }}</td>
		  {% endfor %}
		</tr>
		<tr>
          <th>Contact Method</th>
            {% for day in calendar %}
		      <td>{{ day.contact_method }}</td>
		    {% endfor %}
		</tr>
	  </table>
	</body>
</html>
